div
    img(alt="self-portrait" class="rounded mb-4" src="/images/self_portrait.png")
    a(href="/author/maria") Maria @ gardenofpages
    hr(class="border-t-2 border-accent-faded border-dotted")
    p Hi, my name's Maria! I'm an avid reader who loves video games. I watch (a lot) of anime, have a small art shop, and read as much as I can! I read mostly fantasy, horror, and manga, usually while huddled with my two kitties. Thanks for visiting!
    hr(class="border-t-2 border-accent-faded border-dotted")
    div(class="flex justify-center")
        div(class="m-5 w-1/3 h-1/3 hover:opacity-70 relative")
            img(src="/images/icons/goodreads.png" alt="")
            a(href="https://www.goodreads.com/user/show/37478245-maria" class="absolute left-0 top-0 h-full w-full")
        div(class="m-5 w-1/3 h-1/3 hover:opacity-70 relative")
            img(src="/images/icons/instagram.png" alt="")
            a(href="https://www.instagram.com/mlorraine44/" class="absolute left-0 top-0 h-full w-full")