style(type='text/css' media='screen').
  .gr_custom_container_1727998975 {
  /* customize your Goodreads widget container here*/
  border: 1px solid gray;
  border-radius:10px;
  padding: 10px 5px 10px 5px;
  background-color: rgb(0, 0, 0,0.5);
  color: white;
  }
  .gr_custom_header_1727998975 {
  /* customize your Goodreads header here*/
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 120%
  }
  .gr_custom_each_container_1727998975 {
  /* customize each individual book container here */
  width: 100%;
  clear: both;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1727998975 {
  /* customize your book covers here */
  overflow: hidden;
  height: 160px;
  float: left;
  margin-right: 4px;
  width: 98px;
  }
  .gr_custom_author_1727998975 {
  /* customize your author names here */
  font-size: 20px;
  }
  .gr_custom_tags_1727998975 {
  /* customize your tags here */
  font-size: 20px;
  }
  .gr_custom_rating_1727998975 {
  /* customize your rating stars here */
  float: right;
  }
#gr_custom_widget_1727998975
  .gr_custom_container_1727998975
    h2.gr_custom_header_1727998975
      a(style='text-decoration: none;' rel='nofollow' href='https://www.goodreads.com/review/list/37478245-maria?shelf=currently-reading&utm_medium=api&utm_source=custom_widget') Currently Reading
    .gr_custom_each_container_1727998975
      .gr_custom_book_container_1727998975
        a(title='Kamisama Kiss, Vol. 1 (Kamisama Kiss, #1)' rel='nofollow' href='https://www.goodreads.com/review/show/5675190036?utm_medium=api&utm_source=custom_widget')
          img(alt='Kamisama Kiss, Vol. 1' border='0' src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1389231473l/8230409._SX98_.jpg')
      .gr_custom_title_1727998975
        a(rel='nofollow' href='https://www.goodreads.com/review/show/5675190036?utm_medium=api&utm_source=custom_widget') Kamisama Kiss, Vol. 1
      .gr_custom_author_1727998975
        | by 
        a(rel='nofollow' href='https://www.goodreads.com/author/show/3091065.Julietta_Suzuki') Julietta Suzuki
    .gr_custom_each_container_1727998975
      .gr_custom_book_container_1727998975
        a(title='Daughter of the Forest  (Sevenwaters, #1)' rel='nofollow' href='https://www.goodreads.com/review/show/5720413119?utm_medium=api&utm_source=custom_widget')
          img(alt='Daughter of the Forest' border='0' src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1645543247l/60474584._SX98_.jpg')
      .gr_custom_title_1727998975
        a(rel='nofollow' href='https://www.goodreads.com/review/show/5720413119?utm_medium=api&utm_source=custom_widget') Daughter of the Forest
      .gr_custom_author_1727998975
        | by 
        a(rel='nofollow' href='https://www.goodreads.com/author/show/8649.Juliet_Marillier') Juliet Marillier
    .gr_custom_each_container_1727998975
      .gr_custom_book_container_1727998975
        a(title='The Decagon House Murders (House Murders, #1)' rel='nofollow' href='https://www.goodreads.com/review/show/6213885655?utm_medium=api&utm_source=custom_widget')
          img(alt='The Decagon House Murders' border='0' src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1605840311l/55956657._SX98_.jpg')
      .gr_custom_title_1727998975
        a(rel='nofollow' href='https://www.goodreads.com/review/show/6213885655?utm_medium=api&utm_source=custom_widget') The Decagon House Murders
      .gr_custom_author_1727998975
        | by 
        a(rel='nofollow' href='https://www.goodreads.com/author/show/3201493.Yukito_Ayatsuji') Yukito Ayatsuji
    .gr_custom_each_container_1727998975
      .gr_custom_book_container_1727998975
        a(title='The Count of Monte Cristo' rel='nofollow' href='https://www.goodreads.com/review/show/6632072083?utm_medium=api&utm_source=custom_widget')
          img(alt='The Count of Monte Cristo' border='0' src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1724863997l/7126._SX98_.jpg')
      .gr_custom_title_1727998975
        a(rel='nofollow' href='https://www.goodreads.com/review/show/6632072083?utm_medium=api&utm_source=custom_widget') The Count of Monte Cristo
      .gr_custom_author_1727998975
        | by 
        a(rel='nofollow' href='https://www.goodreads.com/author/show/4785.Alexandre_Dumas') Alexandre Dumas
    .gr_custom_each_container_1727998975
      .gr_custom_book_container_1727998975
        a(title='Fablehaven (Fablehaven, #1)' rel='nofollow' href='https://www.goodreads.com/review/show/6705552653?utm_medium=api&utm_source=custom_widget')
          img(alt='Fablehaven' border='0' src='https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1460309567l/8126324._SX98_.jpg')
      .gr_custom_title_1727998975
        a(rel='nofollow' href='https://www.goodreads.com/review/show/6705552653?utm_medium=api&utm_source=custom_widget') Fablehaven
      .gr_custom_author_1727998975
        | by 
        a(rel='nofollow' href='https://www.goodreads.com/author/show/25052.Brandon_Mull') Brandon Mull
    br(style='clear: both')
    center
      a(rel='nofollow' href='https://www.goodreads.com/')
        img(alt='goodreads.com' style='border:0' src='https://s.gr-assets.com/images/widget/widget_logo.gif')
    noscript
      | Share 
      a(rel='nofollow' href='https://www.goodreads.com/') book reviews
      |  and ratings with Maria, and even join a 
      a(rel='nofollow' href='https://www.goodreads.com/group') book club
      |  on Goodreads.
script(src="https://www.goodreads.com/review/custom_widget/37478245.Maria's%20bookshelf:%20currently-reading?cover_position=left&cover_size=medium&num_books=5&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1727998975&widget_text_color=000000&widget_title_size=medium&widget_width=full" type='text/javascript' charset='utf-8')
