extends ./shared/navbar-widgets-layout.pug

block content
    div(class="mx-10 mb-10 flex flex-col bg-black max-w-[900px] text-xl p-10")
        p(class="text-2xl text-accent italic") About Me
        p Hi, I'm Maria, I'm a huge nerd who loves art and creating websites. Garden of Pages started as a coding project and evolved into my personal book blog. I found my love for fantasy in early high school, with series including The Night Angel Trilogy, Howl's Moving Castle, and the Hunger Games. Now I read fantasy, romance, manga, light novels, horror, romance, and some contemporary fiction. 
        p I wanted to continue blogging my reading journey after finishing my project because I really enjoy looking back on everything I've read so far, seeing if my tastes change, and it helps me remember the books I've read if I write down my thoughts after reading. It became a great way for me to mix together my love for drawing, reading, and writing, and web design. I love reading other bookish blogs, finding new series to add to my tbr, and taking inspiration for my own blog.
        p I love to play video games, and I'm currently on my third Stardew Valley farm. My favorite game series is Legend of Zelda, and I also love playing indie horror games. I have a tiny garden in my home, a fish tank in every room, and two kitties. When I'm not reading or playing games I'm (most likely) watching anime. 
        p Thanks for stopping by!