extends layout

block content
    div#content
        h1 A Review of #{book_review.book.title} by #{book_review.book.author}
        p Do you really want to delete this Review?
        form(method='POST' action='')
            input#bookreviewid(type='hidden',name='bookreviewid', required='true', value=book_review._id )
            button.submit-button(type='submit') Delete
