extends layout

block content
    
    #content
        h1 #{title}
        #success-container(class="hide")
            button x
            p Update successful!
            p 
                a(href="") Updated Book Review
        form#book-review-form
            p Book
            input#title(name='title' type='text' placeholder='title' value=(undefined===bookReview ? '' : bookReview.book.title))
            input#author(name='author' type='text' placeholder='author' value=(undefined===bookReview ? '' : bookReview.book.author))
            p Review
            textarea(id="my-expressjs-tinymce-app")
            p Tags
            div(class="tags-input")
                ul(id="tags")
                    if bookReview!==undefined
                        each tag in bookReview.tags
                            li #{tag.name}
                                button(class='delete-button') X
                input(type="text" id="input-tag" placeholder="author, title, genre, etc")
            input#review-hidden(type="text" hidden name='review-hidden' value=(undefined===bookReview ? '' : he.decode(bookReview.body)))
            button.form-submit-button(type="submit") save
            #error-container
                ul
    
    script(type="application/javascript" src="/tinymce/tinymce.min.js")
    script(type="application/javascript" src="/javascripts/book-review-form.js" defer)

