extends ./shared/navbar-content.pug

block content

    form#book-form(action='' method='POST' enctype="multipart/form-data" class="text-2xl p-10 w-full min-w-[400px] max-w-[960px]")
        div(class="text-5xl mb-5") #{header}
        label(for='title') Title
        input#title(class="w-2/3" name='title' type='text' value=(undefined===book ? '' : he.decode(book.title)))
        label(for='author') Author
        input#author(class="w-2/3" name='author' type='text' value=(undefined===book ? '' : he.decode(book.author)))
        label(for='series') Series (optional)
        input#series(class="w-2/3" name='series' type='text' value=(undefined===book || undefined===book.series ? '' : he.decode(book.series)))
        label(for='series_number') Number in Series (optional)
        input#series_number(class="w-1/3" name='series_number' type='number' value=(undefined===book ? '' : book.series_number))
        label(for='rating') Rating
        input#rating(class="w-1/3" name='rating' type='number' min="1" max="5" step="0.5" value=(undefined===book ? '' : book.rating))
        label(for='pages') Number of Pages
        input#pages(class="w-1/3" name='pages' type='number' value=(undefined===book ? '' : book.pages))
        label(for='goodreadsSynopsis') Goodreads Synopsis
        input#synopsis(class="w-1/3" name='synopsis' type='text' value=(undefined===book ? '' : book.pages))
        label(for='goodreadsUrl') Goodreads Url
        input#goodreadsUrl(class="w-1/3" name='goodreadsUrl' type='text' value=(undefined===book ? '' : book.pages))
        div(class="flex")
            input(type="checkbox" id="is_favorite" name="is_favorite" value="true" place)
            label(for="is_favorite") Favorite Book of the Month
            
        //- input#dates_read(name='dates_read' type='text' hidden value=(undefined===book ? '' : book.date_read))
        div(class='input-container text-center flex flex-col justify-center')
            label(for='date_read') Date read
            input#date_read(name='date_read' type='date' value=(undefined===book ? '' : moment.utc(book.date_read[0]).format("yyyy-MM-DD") ))
        label(for='file') Book Cover
        input#file(name="file" type="file" accept="image/png, image/jpeg" class="w-min bg-inherit")
        //- if book!==undefined
        //-     each date in book.date_read
        //-         if book.date_read.indexOf(date) === 0
        //-         else
        //-             div(class='input-container')
        //-                 label(for='date_read') Date read
        //-                 input#date_read(name='date_read' type='date' value=(undefined===book ? '' : moment.utc(date).format("yyyy-MM-DD") ))
        //-                 button(class='delete-button' type='button' onclick="{(e) => e.target.parentNode.remove()}") X
        button#submit-form(type="button" class='p-5 bg-accent hover:bg-accent-faded text-white text-xl m-5 disabled:opacity-50 disabled:bg-accent' disabled) Save
    #message(class="text-xl bold")
                
    script(type="application/javascript" src="/javascripts/book-form.js" defer)
    
