extends layout

block content
    
    div(class="review-form-content")
        h1 #{title}
        form(action='' method='POST' id='book-review-form')
            p Book
            input#title(name='title' type='text' placeholder='title' value=(undefined===bookReview ? '' : bookReview.book.title))
            input#author(name='author' type='text' placeholder='author' value=(undefined===bookReview ? '' : bookReview.book.author))
            p Review
            textarea(id="my-expressjs-tinymce-app")
            p Tags
            div(class="tags-input")
                ul(id="tags")
                    if bookReview!==undefined
                        each tag in bookReview.tags
                            li #{tag.name}
                                button(class='delete-button') X
                input(type="text" id="input-tag" placeholder="author, title, genre, etc")
            input#tag_input(type="text" hidden name='tag_input')
            input#review_body(type="text" hidden name='review_body' value=(undefined===bookReview ? '' : bookReview.body))
        button(onclick="saveReview()" class='form-submit-button') save
        if errors
            each error in errors
                li!= error.msg
    
    if bookReview!==undefined
        script.
            const review = "#{bookReview.body}"
    script(type="application/javascript" src="/javascripts/review-helper.js")
    script(type="application/javascript" src="/he/he.js")
    script(type="application/javascript" src="/tinymce/tinymce.min.js")
    script(type="application/javascript" src="/javascripts/my-tinymce-config.js")
