extends ./shared/navbar-widgets-layout.pug

block content
  div
    each post in bookReviews
      include ./shared/book-review-preview.pug

  script(type="application/javascript" src="/javascripts/toggle-synopsis.js")