extends layout

block content
    div#content

        h1 Book

        if book_review

            p #[strong Delete the following review before attempting to delete this book.]

            a.edit-url(href=book_review.url) A Review of #{book.title} by #{book.author}

        else
            p Do you really want to delete this book?

            form(method='POST' action='')
                input#bookid(type='hidden',name='bookid', required='true', value=book._id )
                button.submit-button(type='submit') Delete
