extends ./shared/navbar-widgets-layout.pug

block content
  div
    each post in posts
      if post.__t === "MonthlyWrapUp"
        include shared/monthly-wrap-up-preview.pug
      else if post.__t === "BookReview"
        include shared/book-review-preview.pug

  script(src="/he/he.js")
  script(src="/moment/moment.js")
  script(type="application/javascript" src="/javascripts/toggle-synopsis.js")
  script.
    currentPage="#{currentPage}";
  script.
    totalPages="#{totalPages}";
  script(type="application/javascript" src="/javascripts/pagination.js" defer)
