extends layout

block content
    #content

        h1 Log In
        
        form#log-in-form(action='' method='POST')
            label(for='username') Username
            input#username(name='username' type='text' required value=(undefined===user ? '' : user.username))
            label(for='password') Password
            input#password(name='password' autocomplete="on" type='password' required)
            button(type='submit' class="form-submit-button") Log In
            
        if errors
            each error in errors
                li!= error.msg