//- This is a list of all posts with a specific tag name (ie "fantasy")
extends ./shared/navbar-widgets-layout.pug

block content
  div
    each post in posts
      include ./shared/book-review-preview.pug
