extends ./shared/navbar-content.pug

block content
    p Welcome, #{user.display_name}!

    if user.is_admin
        p
            a(href='/account') Your Account
        p
            a(href="/new-book-review") Add Review
        p
            a(href="/new-book") Add Book
        p
            a(href="/new-monthly-wrap-up") Add Monthly Wrap Up
        p
            a(href="/library") My Library