@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #8a4ccd;
  --accent-faded: #58278b;
  --bg: #111110;
  --navbar: black;
  --input: #2b2b29;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cbb0e9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}

@font-face {
  font-family: "Truculenta";
  src: local("Truculenta"), url("../fonts/Truculenta.ttf") format("truetype");
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter"), url("../fonts/Bitter.ttf") format("truetype");
}

body {
  font: 14px "Bitter";
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  color: white;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  input,
  select {
    background-color: var(--input);
    border-radius: 8px;
    padding: 10px;
  }
}

button {
  border-radius: 8px;
  border: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

input {
  margin: 10px;
}

input:focus {
  outline: 1px solid var(--accent);
}

input::file-selector-button {
  background-color: var(--input);
  border-radius: 8px;
  border: none;
  color: white;
  padding: 5px;
}

h1 {
  text-align: center;
}

label {
  margin: 10px;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

#message {
  border-radius: 8px;
  text-align: center;
}

#message li {
  list-style-type: disc;
  width: 80%;
  margin: auto;
}

#message button {
  position: absolute;
  right: 12px;
  top: 5px;
  font-weight: bold;
  color: var(--accent);
  font-size: large;
}

#message a {
  font-weight: bold;
}

.post-summary a {
  font-weight: bold;
  color: rgb(192 132 252);
}

.hide {
  display: none;
}

.show {
  display: block;
}

#log-in,
#sign-up {
  & input,
  textarea {
    background-color: rgb(41, 41, 41);
    transition: transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  & input:focus,
  textarea:focus {
    outline: none;
    background-color: rgb(29, 21, 36);
    transform: scale(1.1);
  }
}

.pop-up {
  position: fixed;
  bottom: 145px;
  width: 450px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  background-color: rgb(41, 41, 41);
  color: rgb(255, 250, 250);
  font-weight: 400;
  padding: 30px;

  & input,
  textarea {
    background-color: rgb(24, 24, 24);
    transition: transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }

  & input:focus,
  textarea:focus {
    outline: none;
    background-color: rgb(29, 21, 36);
    transform: scale(1.1);
  }
}

.dropDownContainer {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 52px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#search:focus {
  background-color: rgb(29, 21, 36);
}

/* COMMENT */
.comment-container {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--accent);
  position: relative;
  text-align: left;
}

.comment-header {
  display: flex;
  align-items: bottom;
  padding-bottom: 10px;
}

.comment-name {
  font-weight: bold;
}

.comment-date {
  font-size: 0.5em;
  font-weight: 100;
  padding: 5px;
}

.comment-text {
  font-size: 1.2em;
}

.delete-comment,
#close-form {
  position: absolute;
  right: 20px;
  padding: 5px;
  top: 10px;
}

.delete-comment {
  height: 15px;
  width: 15px;
}

.delete-comment:hover {
  cursor: pointer;
}

#error-container {
  color: black;
  font-weight: bold;
}

#error-container li {
  list-style: disc;
}

/* book review form */

.tags-input ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags-input li {
  display: inline-block;
  background-color: var(--accent);
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tags-input input[type="text"] {
  outline: none;
  padding: 5px;
  font-size: 14px;
  border: 2px solid var(--accent);
  border-radius: 8px;
}

.tags-input input[type="text"]:focus {
  outline: none;
}

.tags-input .delete-button {
  background-color: transparent;
  color: #999;
  cursor: pointer;
  margin-left: 5px;
}

/* forms */
.no-opacity {
  opacity: 0;
}

/* Preview Hover */
.image-container {
  display: inline-block;
}

.hover-div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(88, 39, 139, 0.5);
  transition: opacity 0.5s ease-in-out;
}

.image-container:hover .hover-div {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.synopsis-detail {
  height: 0px;
  transition: height 1s ease-in-out;
  transition: opacity 1s linear;
  opacity: 0;
}

.active {
  opacity: 1;
}

.triangle-right,
.triangle-bottom {
  width: 0;
  height: 0;
}
.triangle-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.triangle-bottom {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.triangle-right {
  border-left: 20px solid var(--accent);
}

.triangle-bottom {
  border-top: 20px solid var(--accent);
}

#pageNavBar {
  display: flex;
  width: min-content;
  font-size: 2rem;
  margin: 0 auto 20px auto;
}

#pageNavBar a {
  margin: 10px;
  white-space: nowrap;
}

#pageNavBar a:hover {
  color: var(--accent-faded);
}

.current-page {
  color: var(--accent);
}
